<a href="https://colab.research.google.com/github/Ezemettler/PI1-MLOps/blob/main/Consultas_API.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Códigos para luego usar en las funciones para las consultas a la API

In [1]:
# Vinculamos google colab con google drive para importar el dataset

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# Importamos librerias

import pandas as pd

In [4]:
# Levantamos el dataset que vamos a usar en las consultas

data_plataformas = pd.read_csv('/content/drive/MyDrive/Formación/Henry/PI N°1 - MLOps/plataformas_prom.csv', sep=',', encoding='latin-1')
data_plataformas.head()

,type,title,director,cast,country,date_added,release_year,rating_x,listed_in,description,Id,duration_int,duration_type,score
0,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,"comedy, drama",a small fishing village must procure a local d...,as1,113,min,3.5
1,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,"drama, international",a metro family decides to fight a cyber crimin...,as2,110,min,3.5
2,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,"action, drama, suspense",after a man discovers his wife is cheating on ...,as3,74,min,3.5
3,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncÃ£Â©, brit...",united states,2021-03-30,2014,g,documentary,"pink breaks the mold once again, bringing her ...",as4,69,min,3.5
4,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,"drama, fantasy",teenage matt banting wants to work with a famo...,as5,45,min,3.5

## Consulta 1

Película con mayor duración con filtros opcionales de AÑO, PLATAFORMA Y TIPO DE DURACIÓN.
La función debe llamarse get_max_duration(year, platform, duration_type)

In [38]:
# 1. Filtro por año
anio = 2015
filtro_anio = data_plataformas.loc[ data_plataformas['release_year'] == anio ]
filtro_anio

,type,title,director,cast,country,date_added,release_year,rating_x,listed_in,description,Id,duration_int,duration_type,score
28,tv show,yu-gi-oh! zexal,sin dato,"eli jay, marc thompson, sean schemmel, eileen ...",sin dato,NaN,2015,tv-y7,"animation, anime, fantasy",it's time to feel the flow as yu-gi-oh! zexal ...,as29,3,seasons,3.4
36,movie,you're not you,george c. wolfe,"hilary swank, emmy rossum, josh duhamel",sin dato,NaN,2015,r,drama,a drama centered on a classical pianist who ha...,as37,103,min,3.5
58,tv show,xiaolin chronicles,sin dato,"tara strong, jennifer hale, eric bauza, david ...",sin dato,NaN,2015,7+,"adventure, animation, kids",newcomer ping pong joins the legendary xiaolin...,as59,1,seasons,3.5
63,tv show,wpc 56,sin dato,"wpc annie taylor, charles de'ath, olly rix, ja...",sin dato,NaN,2015,13+,"drama, romance, suspense",the third series of wpc 56 follows wpc annie t...,as64,3,seasons,3.5
78,tv show,wonder balls,sin dato,sin dato,sin dato,NaN,2015,all,"animation, kids",enjoy parades of unique and fun ball character...,as79,1,seasons,3.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22975,movie,yoko and his friends,sin dato,"eileen stevens, alyson leigh rosenfeld, sarah ...","russia, spain",2018-06-23,2015,tv-y,children & family movies,"vik meets new friends in a new city, where the...",ns8785,78,min,3.5
22979,movie,you carry me,ivona juka,"lana baric, vojislav brajovic, natasa janjic, ...","croatia, slovenia, serbia, montenegro",2016-07-01,2015,tv-ma,"dramas, international movies","a soap opera producer, director and makeup art...",ns8789,157,min,3.6
22986,tv show,yu-gi-oh! arc-v,sin dato,"mike liscio, emily bauer, billy bob thompson, ...","japan, canada",2018-05-01,2015,tv-y7,"anime series, kids' tv",now that he's discovered the pendulum summonin...,ns8796,2,seasons,3.5
22992,movie,zinzana,majid al ansari,"ali suliman, saleh bakri, yasa, ali al-jabri, ...","united arab emirates, jordan",2016-03-09,2015,tv-ma,"dramas, international movies, thrillers",recovering alcoholic talal wakes up inside a s...,ns8802,96,min,3.6
22997,movie,zubaan,mozez singh,"vicky kaushal, sarah-jane dias, raaghav chanan...",india,2019-03-02,2015,tv-14,"dramas, international movies, music & musicals",a scrappy but poor boy worms his way into a ty...,ns8807,111,min,3.5

In [40]:
# 2. Filtro por plataforma
plataforma = 'a'     # a: amazon, d: disney, h: hulu, n: netflix
filtro_plataforma = filtro_anio.loc[ filtro_anio['Id'].str[0:1] == plataforma ]
filtro_plataforma

,type,title,director,cast,country,date_added,release_year,rating_x,listed_in,description,Id,duration_int,duration_type,score
28,tv show,yu-gi-oh! zexal,sin dato,"eli jay, marc thompson, sean schemmel, eileen ...",sin dato,NaN,2015,tv-y7,"animation, anime, fantasy",it's time to feel the flow as yu-gi-oh! zexal ...,as29,3,seasons,3.4
36,movie,you're not you,george c. wolfe,"hilary swank, emmy rossum, josh duhamel",sin dato,NaN,2015,r,drama,a drama centered on a classical pianist who ha...,as37,103,min,3.5
58,tv show,xiaolin chronicles,sin dato,"tara strong, jennifer hale, eric bauza, david ...",sin dato,NaN,2015,7+,"adventure, animation, kids",newcomer ping pong joins the legendary xiaolin...,as59,1,seasons,3.5
63,tv show,wpc 56,sin dato,"wpc annie taylor, charles de'ath, olly rix, ja...",sin dato,NaN,2015,13+,"drama, romance, suspense",the third series of wpc 56 follows wpc annie t...,as64,3,seasons,3.5
78,tv show,wonder balls,sin dato,sin dato,sin dato,NaN,2015,all,"animation, kids",enjoy parades of unique and fun ball character...,as79,1,seasons,3.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9393,tv show,two and a half men,sin dato,"ashton kutcher, jon cryer, amber tamblyn, conc...",sin dato,2021-10-04,2015,tv-nr,comedy,walden schmidt and alan harper (ashton kutcher...,as9394,11,seasons,3.5
9403,movie,northmen: a viking saga,claudio fÃ£Â¤h,"charlie murphy, ed skrein, james norton, ryan ...",sin dato,NaN,2015,r,action,when a storm decimates their longboat and stra...,as9404,98,min,3.6
9442,movie,moonwalkers,antoine bardou-jacquet,"rupert grint, ron perlman, robert sheehan","france, belgium",NaN,2015,r,"action, comedy",after failing to locate the legendary stanley ...,as9443,93,min,3.5
9499,movie,kept woman,michel poulette,"courtney ford, shaun benson, andrew w. walker,...",sin dato,NaN,2015,pg-13,"drama, suspense",jessica and her fiancÃ£Â© finally move out of ...,as9500,90,min,3.5
9527,movie,the lazarus effect,david gelb,"mark duplass, olivia wilde, sarah bolger, evan...",sin dato,NaN,2015,pg-13,"horror, science fiction, suspense",a group of medical researchers discover a way ...,as9528,83,min,3.5

In [41]:
# 3. Filtro por tipo de duracion
tipo_duracion = 'min'
filtro_tipo_duracion = filtro_plataforma.loc[ filtro_plataforma['duration_type'] == tipo_duracion ]
filtro_tipo_duracion

,type,title,director,cast,country,date_added,release_year,rating_x,listed_in,description,Id,duration_int,duration_type,score
36,movie,you're not you,george c. wolfe,"hilary swank, emmy rossum, josh duhamel",sin dato,NaN,2015,r,drama,a drama centered on a classical pianist who ha...,as37,103,min,3.5
91,movie,william the conqueror,frederic compain,sin dato,sin dato,NaN,2015,13+,"documentary, special interest",one of the most powerful rulers in all of euro...,as92,53,min,3.6
141,movie,welcome to kutsher's: the last catskills resort,"caroline laskow, ian rosenberg","freddie roman, mark kutsher, helen kutsher, la...",sin dato,NaN,2015,13+,"documentary, special interest",kutsher's country club is the last surviving j...,as142,70,min,3.5
156,movie,walter,anna mastro,"andrew j. west, peter facinelli, virginia mads...",sin dato,NaN,2015,g,"comedy, drama",a ticket-taker at the local cinema believes he...,as157,86,min,3.5
186,movie,vietnam: secret negotiations that ended the war,daniel roussel,sin dato,sin dato,NaN,2015,pg-13,"documentary, international, special interest","while the war raged on, henry kissinger, natio...",as187,53,min,3.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9342,movie,dancin: it's on,david winters,"david winters, gary daniels, ava fabian, whitn...",sin dato,NaN,2015,pg,"arts, entertainment, and culture","when beverly hills teen, jennifer (witney cars...",as9343,90,min,3.5
9403,movie,northmen: a viking saga,claudio fÃ£Â¤h,"charlie murphy, ed skrein, james norton, ryan ...",sin dato,NaN,2015,r,action,when a storm decimates their longboat and stra...,as9404,98,min,3.6
9442,movie,moonwalkers,antoine bardou-jacquet,"rupert grint, ron perlman, robert sheehan","france, belgium",NaN,2015,r,"action, comedy",after failing to locate the legendary stanley ...,as9443,93,min,3.5
9499,movie,kept woman,michel poulette,"courtney ford, shaun benson, andrew w. walker,...",sin dato,NaN,2015,pg-13,"drama, suspense",jessica and her fiancÃ£Â© finally move out of ...,as9500,90,min,3.5
9527,movie,the lazarus effect,david gelb,"mark duplass, olivia wilde, sarah bolger, evan...",sin dato,NaN,2015,pg-13,"horror, science fiction, suspense",a group of medical researchers discover a way ...,as9528,83,min,3.5

In [42]:
# 4. Filtro de mayor duracion
max_duracion = filtro_tipo_duracion.loc[ filtro_tipo_duracion['duration_int'] == filtro_tipo_duracion['duration_int'].max() ]
max_duracion

,type,title,director,cast,country,date_added,release_year,rating_x,listed_in,description,Id,duration_int,duration_type,score
3903,movie,carmel beach waves for sleep,jim wilmer,sin dato,sin dato,NaN,2015,all,"documentary, special interest",let the soothing sounds of waves lapping at th...,as3904,485,min,3.5

In [44]:
# todo junto

# 1. Filtro por año
anio = 2015
filtro_anio = data_plataformas.loc[ data_plataformas['release_year'] == anio ]

# 2. Filtro por plataforma
plataforma = 'a'     # a: amazon, d: disney, h: hulu, n: netflix
filtro_plataforma = filtro_anio.loc[ filtro_anio['Id'].str[0:1] == plataforma ]

# 3. Filtro por tipo de duracion
tipo_duracion = 'min'
filtro_tipo_duracion = filtro_plataforma.loc[ filtro_plataforma['duration_type'] == tipo_duracion ]

# 4. Filtro de mayor duracion
max_duracion = filtro_tipo_duracion.loc[ filtro_tipo_duracion['duration_int'] == filtro_tipo_duracion['duration_int'].max() ]

max_duracion['title']

3903    carmel beach waves for sleep
Name: title, dtype: object

## Consulta 2

Cantidad de películas por plataforma con un puntaje mayor a XX en determinado año.

La función debe llamarse get_score_count(platform, scored, year)

In [47]:
# 1. Filtro por año
anio = 2015
filtro_anio = data_plataformas.loc[ data_plataformas['release_year'] == anio ]
filtro_anio

,type,title,director,cast,country,date_added,release_year,rating_x,listed_in,description,Id,duration_int,duration_type,score
28,tv show,yu-gi-oh! zexal,sin dato,"eli jay, marc thompson, sean schemmel, eileen ...",sin dato,NaN,2015,tv-y7,"animation, anime, fantasy",it's time to feel the flow as yu-gi-oh! zexal ...,as29,3,seasons,3.4
36,movie,you're not you,george c. wolfe,"hilary swank, emmy rossum, josh duhamel",sin dato,NaN,2015,r,drama,a drama centered on a classical pianist who ha...,as37,103,min,3.5
58,tv show,xiaolin chronicles,sin dato,"tara strong, jennifer hale, eric bauza, david ...",sin dato,NaN,2015,7+,"adventure, animation, kids",newcomer ping pong joins the legendary xiaolin...,as59,1,seasons,3.5
63,tv show,wpc 56,sin dato,"wpc annie taylor, charles de'ath, olly rix, ja...",sin dato,NaN,2015,13+,"drama, romance, suspense",the third series of wpc 56 follows wpc annie t...,as64,3,seasons,3.5
78,tv show,wonder balls,sin dato,sin dato,sin dato,NaN,2015,all,"animation, kids",enjoy parades of unique and fun ball character...,as79,1,seasons,3.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22975,movie,yoko and his friends,sin dato,"eileen stevens, alyson leigh rosenfeld, sarah ...","russia, spain",2018-06-23,2015,tv-y,children & family movies,"vik meets new friends in a new city, where the...",ns8785,78,min,3.5
22979,movie,you carry me,ivona juka,"lana baric, vojislav brajovic, natasa janjic, ...","croatia, slovenia, serbia, montenegro",2016-07-01,2015,tv-ma,"dramas, international movies","a soap opera producer, director and makeup art...",ns8789,157,min,3.6
22986,tv show,yu-gi-oh! arc-v,sin dato,"mike liscio, emily bauer, billy bob thompson, ...","japan, canada",2018-05-01,2015,tv-y7,"anime series, kids' tv",now that he's discovered the pendulum summonin...,ns8796,2,seasons,3.5
22992,movie,zinzana,majid al ansari,"ali suliman, saleh bakri, yasa, ali al-jabri, ...","united arab emirates, jordan",2016-03-09,2015,tv-ma,"dramas, international movies, thrillers",recovering alcoholic talal wakes up inside a s...,ns8802,96,min,3.6
22997,movie,zubaan,mozez singh,"vicky kaushal, sarah-jane dias, raaghav chanan...",india,2019-03-02,2015,tv-14,"dramas, international movies, music & musicals",a scrappy but poor boy worms his way into a ty...,ns8807,111,min,3.5

In [50]:
# 2. Filtro por score
score = 3.5    
filtro_score = filtro_anio.loc[ filtro_anio['score'] > score ]
filtro_score

,type,title,director,cast,country,date_added,release_year,rating_x,listed_in,description,Id,duration_int,duration_type,score
78,tv show,wonder balls,sin dato,sin dato,sin dato,NaN,2015,all,"animation, kids",enjoy parades of unique and fun ball character...,as79,1,seasons,3.6
91,movie,william the conqueror,frederic compain,sin dato,sin dato,NaN,2015,13+,"documentary, special interest",one of the most powerful rulers in all of euro...,as92,53,min,3.6
186,movie,vietnam: secret negotiations that ended the war,daniel roussel,sin dato,sin dato,NaN,2015,pg-13,"documentary, international, special interest","while the war raged on, henry kissinger, natio...",as187,53,min,3.6
238,movie,ufotv presence: i know what i saw,james fox,peter coyote,sin dato,NaN,2015,13+,special interest,the most credible ufo witnesses from around th...,as239,92,min,3.6
288,tv show,top gear: the perfect road trip italy,sin dato,"richard hammond, jeremy clarkson",sin dato,NaN,2015,tv-pg,documentary,"once again, clarkson and hammond are seeking j...",as289,1,seasons,3.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22894,movie,we are your friends,max joseph,"zac efron, wes bentley, emily ratajkowski, jon...","united kingdom, france, united states",2020-01-27,2015,r,"dramas, independent movies, music & musicals",an ambitious young dj who knows how to work a ...,ns8704,96,min,3.6
22931,tv show,wild alaska,sin dato,dougray scott,united kingdom,2017-03-31,2015,tv-pg,"british tv shows, docuseries, science & nature tv",the natural bounty of alaska sustains its dive...,ns8741,1,seasons,3.6
22952,movie,wrong no.,yasir nawaz,"javed sheikh, danish taimoor, janita asma, nay...",pakistan,2017-07-01,2015,tv-14,"comedies, international movies, romantic movies",two identical strangers pursue their respectiv...,ns8762,133,min,3.6
22979,movie,you carry me,ivona juka,"lana baric, vojislav brajovic, natasa janjic, ...","croatia, slovenia, serbia, montenegro",2016-07-01,2015,tv-ma,"dramas, international movies","a soap opera producer, director and makeup art...",ns8789,157,min,3.6
22992,movie,zinzana,majid al ansari,"ali suliman, saleh bakri, yasa, ali al-jabri, ...","united arab emirates, jordan",2016-03-09,2015,tv-ma,"dramas, international movies, thrillers",recovering alcoholic talal wakes up inside a s...,ns8802,96,min,3.6

In [62]:
# 3. Agrupar por plataforma y contar peliculas

#creamos la columna 'platform' para poder agrupar más adelante
filtro_score['plataforma'] = filtro_score['Id'].str[0]

# Agrupamos las películas por plataforma y contamos el número de películas en cada plataforma
peliculas_x_plataformas = filtro_score.groupby('plataforma').size().reset_index(name='count')
peliculas_x_plataformas

<ipython-input-62-7b48dff96d6d>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtro_score['plataforma'] = filtro_score['Id'].str[0]

  plataforma  count
0          a    130
1          d     18
2          h     52
3          n    204

In [64]:
# 4. Filtrar por plataforma

plataforma = 'a'
plataforma_y_peliculas = peliculas_x_plataformas.loc[ peliculas_x_plataformas['plataforma'] == plataforma ]
plataforma_y_peliculas

  plataforma  count
0          a    130

In [92]:
# Todo junto

# 1. Filtro por año
anio = 2015
filtro_anio = data_plataformas.loc[ data_plataformas['release_year'] == anio ]

# 2. Filtro por score
score = 3.5    
filtro_score = filtro_anio.loc[ filtro_anio['score'] > score ]

# 3. Agrupar por plataforma y contar peliculas
  #creamos la columna 'platform' para poder agrupar más adelante
filtro_score['plataforma'] = filtro_score['Id'].str[0]

  # Agrupamos las películas por plataforma y contamos el número de películas en cada plataforma
peliculas_x_plataformas = filtro_score.groupby('plataforma').size().reset_index(name='count')

# 4. Filtrar por plataforma
plataforma = 'a'
plataforma_y_peliculas = peliculas_x_plataformas.loc[ peliculas_x_plataformas['plataforma'] == plataforma ]

resultado = plataforma_y_peliculas [ plataforma_y_peliculas['plataforma'] == plataforma[0] ]
resultado = resultado['count']

print('La plataforma', plataforma, 'tiene', int(resultado), 'peliculas, publicadas en el año', anio, 'con score mayor a', score)

La plataforma a tiene 130 peliculas, publicadas en el año 2015 con score mayor a 3.5

<ipython-input-92-8ec361f7aeda>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtro_score['plataforma'] = filtro_score['Id'].str[0]