<a href="https://colab.research.google.com/github/Ezemettler/PI1-MLOps/blob/main/MLOps.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Transformaciones: 

Para este MVP no necesitas perfección, ¡necesitas rapidez! ⏩ Vas a hacer estas, y solo estas, transformaciones a los datos:

* Generar campo id: Cada id se compondrá de la primera letra del nombre de la plataforma, seguido del show_id ya presente en los datasets (ejemplo para títulos de Amazon = as123)

In [1]:
# Vinculamos google colab con google drive para importar el dataset

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [58]:
# Importamos librerias

import pandas as pd

In [70]:
# Levantamos los datasets, guardamos cada uno en una variable distinta y agregamos la columna Id

data_amazon = pd.read_csv('/content/drive/MyDrive/Formación/Henry/PI N°1 - MLOps/amazon_prime_titles.csv', sep=',', encoding='latin-1')
data_amazon['Id'] = 'a' + data_amazon['show_id']

data_disney = pd.read_csv('/content/drive/MyDrive/Formación/Henry/PI N°1 - MLOps/disney_plus_titles.csv', sep=',', encoding='latin-1')
data_disney['Id'] = 'd' + data_disney['show_id']

data_hulu = pd.read_csv('/content/drive/MyDrive/Formación/Henry/PI N°1 - MLOps/hulu_titles.csv', sep=',', encoding='latin-1')
data_hulu['Id'] = 'h' + data_hulu['show_id']

data_netflix = pd.read_csv('/content/drive/MyDrive/Formación/Henry/PI N°1 - MLOps/netflix_titles.csv', sep=',', encoding='latin-1')
data_netflix['Id'] = 'n' + data_netflix['show_id']

In [71]:
# Antes de unirlos, verificamos que los dataset tengan igual cant de columnas
# Tambien ver cant de filas, para luego sumarlas y verificar que todas se agregaron al dataset total

print(data_amazon.shape)
print(data_disney.shape)
print(data_hulu.shape)
print(data_netflix.shape)

(9668, 13)
(1450, 13)
(3073, 13)
(8807, 13)

In [72]:
# Unimos los dataset en uno solo

data_plataformas = pd.concat([data_amazon, data_disney, data_hulu, data_netflix])
data_plataformas.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Id
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,as1
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,as2
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,as3
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, BeyoncÃ©, Britne...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",as4
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,as5

In [73]:
data_plataformas.shape

(22998, 13)

* Los valores nulos del campo rating deberán reemplazarse por el string “G” (corresponde al maturity rating: “general for all audiences”

In [74]:
# Verificamos cuantos valores nulos hay por cada columna

data_plataformas.isna().sum()

show_id             0
type                0
title               0
director         8259
cast             5321
country         11499
date_added       9554
release_year        0
rating            864
duration          482
listed_in           0
description         4
Id                  0
dtype: int64

In [75]:
# Reemplazamos los valores nulos de la columna Rating por G

data_plataformas['rating'].fillna('g', inplace=True)
data_plataformas.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Id
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,g,113 min,"Comedy, Drama",A small fishing village must procure a local d...,as1
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,as2
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,g,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,as3
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, BeyoncÃ©, Britne...",United States,"March 30, 2021",2014,g,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",as4
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,g,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,as5

In [76]:
# Verificamos que la columna rating no cuenta con valores nulos luego de reemplazarlos.

data_plataformas['rating'].isna().sum()

0

* De haber fechas, deberán tener el formato AAAA-mm-dd

In [77]:
# Cambiamos el formato fecha a aaaa-mm-dd

data_plataformas['date_added'] = pd.to_datetime(data_plataformas['date_added'])
data_plataformas.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Id
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,2021-03-30,2014,g,113 min,"Comedy, Drama",A small fishing village must procure a local d...,as1
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,2021-03-30,2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,as2
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,2021-03-30,2017,g,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,as3
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, BeyoncÃ©, Britne...",United States,2021-03-30,2014,g,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",as4
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,2021-03-30,1989,g,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,as5

* Los campos de texto deberán estar en minúsculas, sin excepciones

In [78]:
# Todos los campos textos pasan a minusculas

data_plataformas['type'] = data_plataformas['type'].str.lower()
data_plataformas['title'] = data_plataformas['title'].str.lower()
data_plataformas['director'] = data_plataformas['director'].str.lower()
data_plataformas['cast'] = data_plataformas['cast'].str.lower()
data_plataformas['country'] = data_plataformas['country'].str.lower()
data_plataformas['rating'] = data_plataformas['rating'].str.lower()
data_plataformas['duration'] = data_plataformas['duration'].str.lower()
data_plataformas['listed_in'] = data_plataformas['listed_in'].str.lower()
data_plataformas['description'] = data_plataformas['description'].str.lower()
data_plataformas['Id'] = data_plataformas['Id'].str.lower()
data_plataformas.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Id
0,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...,as1
1,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...,as2
2,s3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,74 min,"action, drama, suspense",after a man discovers his wife is cheating on ...,as3
3,s4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncã©, britne...",united states,2021-03-30,2014,g,69 min,documentary,"pink breaks the mold once again, bringing her ...",as4
4,s5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,45 min,"drama, fantasy",teenage matt banting wants to work with a famo...,as5

* El campo duration debe convertirse en dos campos: duration_int y duration_type. El primero será un integer y el segundo un string indicando la unidad de medición de duración: min (minutos) o season (temporadas)

In [79]:
# Extraemos la cant de la columna duración

data_plataformas['duration_int'] = data_plataformas['duration'].str.extract('([0-9]+)')
data_plataformas.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Id,duration_int
0,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...,as1,113
1,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...,as2,110
2,s3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,74 min,"action, drama, suspense",after a man discovers his wife is cheating on ...,as3,74
3,s4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncã©, britne...",united states,2021-03-30,2014,g,69 min,documentary,"pink breaks the mold once again, bringing her ...",as4,69
4,s5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,45 min,"drama, fantasy",teenage matt banting wants to work with a famo...,as5,45

In [80]:
# Extraemos el tipo de duración de la columna duración

data_plataformas['duration_type'] = data_plataformas['duration'].str.extract('([a-z]+)')
data_plataformas.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Id,duration_int,duration_type
0,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...,as1,113,min
1,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...,as2,110,min
2,s3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,74 min,"action, drama, suspense",after a man discovers his wife is cheating on ...,as3,74,min
3,s4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncã©, britne...",united states,2021-03-30,2014,g,69 min,documentary,"pink breaks the mold once again, bringing her ...",as4,69,min
4,s5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,45 min,"drama, fantasy",teenage matt banting wants to work with a famo...,as5,45,min

In [81]:
# Eliminamos las columnas sobrantes

data_plataformas.drop(['show_id'], axis=1, inplace=True)
data_plataformas.drop(['duration'], axis=1, inplace=True)
data_plataformas.head()

,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,Id,duration_int,duration_type
0,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,"comedy, drama",a small fishing village must procure a local d...,as1,113,min
1,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,"drama, international",a metro family decides to fight a cyber crimin...,as2,110,min
2,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,"action, drama, suspense",after a man discovers his wife is cheating on ...,as3,74,min
3,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncã©, britne...",united states,2021-03-30,2014,g,documentary,"pink breaks the mold once again, bringing her ...",as4,69,min
4,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,"drama, fantasy",teenage matt banting wants to work with a famo...,as5,45,min

In [82]:
# Verificamos que campos tienen valores nulos

data_plataformas.isna().sum()

type                 0
title                0
director          8259
cast              5321
country          11499
date_added        9554
release_year         0
rating               0
listed_in            0
description          4
Id                   0
duration_int       482
duration_type      482
dtype: int64

In [83]:
# Completamos los valores nulos del campo "duration_int" con 0

data_plataformas['duration_int'].fillna(0, inplace=True)
data_plataformas['duration_int'].isna().sum()

0

In [84]:
# Llenamos los campos vacios con tipo de dato string con la leyenda "sin dato"

data_plataformas['director'].fillna('sin dato', inplace=True)
data_plataformas['cast'].fillna('sin dato', inplace=True)
data_plataformas['country'].fillna('sin dato', inplace=True)
data_plataformas['duration_type'].fillna('sin dato', inplace=True)
data_plataformas

,type,title,director,cast,country,date_added,release_year,rating,listed_in,description,Id,duration_int,duration_type
0,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,"comedy, drama",a small fishing village must procure a local d...,as1,113,min
1,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,"drama, international",a metro family decides to fight a cyber crimin...,as2,110,min
2,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,"action, drama, suspense",after a man discovers his wife is cheating on ...,as3,74,min
3,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncã©, britne...",united states,2021-03-30,2014,g,documentary,"pink breaks the mold once again, bringing her ...",as4,69,min
4,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,"drama, fantasy",teenage matt banting wants to work with a famo...,as5,45,min
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8802,movie,zodiac,david fincher,"mark ruffalo, jake gyllenhaal, robert downey j...",united states,2019-11-20,2007,r,"cult movies, dramas, thrillers","a political cartoonist, a crime reporter and a...",ns8803,158,min
8803,tv show,zombie dumb,sin dato,sin dato,sin dato,2019-07-01,2018,tv-y7,"kids' tv, korean tv shows, tv comedies","while living alone in a spooky town, a young g...",ns8804,2,seasons
8804,movie,zombieland,ruben fleischer,"jesse eisenberg, woody harrelson, emma stone, ...",united states,2019-11-01,2009,r,"comedies, horror movies",looking to survive in a world taken over by zo...,ns8805,88,min
8805,movie,zoom,peter hewitt,"tim allen, courteney cox, chevy chase, kate ma...",united states,2020-01-11,2006,pg,"children & family movies, comedies","dragged from civilian life, a former superhero...",ns8806,88,min
8806,movie,zubaan,mozez singh,"vicky kaushal, sarah-jane dias, raaghav chanan...",india,2019-03-02,2015,tv-14,"dramas, international movies, music & musicals",a scrappy but poor boy worms his way into a ty...,ns8807,111,min

In [85]:
# Verificamos que no hayan quedado valores nulos, salvo los campos con formato fecha (date)

data_plataformas.isna().sum()

type                0
title               0
director            0
cast                0
country             0
date_added       9554
release_year        0
rating              0
listed_in           0
description         4
Id                  0
duration_int        0
duration_type       0
dtype: int64

In [86]:
# Levantamos cada csv con los rating de las peliculas

rating1 = pd.read_csv('/content/drive/MyDrive/Formación/Henry/PI N°1 - MLOps/ratings/1.csv', sep=',', encoding='latin-1')
rating2 = pd.read_csv('/content/drive/MyDrive/Formación/Henry/PI N°1 - MLOps/ratings/2.csv', sep=',', encoding='latin-1')
rating3 = pd.read_csv('/content/drive/MyDrive/Formación/Henry/PI N°1 - MLOps/ratings/3.csv', sep=',', encoding='latin-1')
rating4 = pd.read_csv('/content/drive/MyDrive/Formación/Henry/PI N°1 - MLOps/ratings/4.csv', sep=',', encoding='latin-1')
rating5 = pd.read_csv('/content/drive/MyDrive/Formación/Henry/PI N°1 - MLOps/ratings/5.csv', sep=',', encoding='latin-1')
rating6 = pd.read_csv('/content/drive/MyDrive/Formación/Henry/PI N°1 - MLOps/ratings/6.csv', sep=',', encoding='latin-1')
rating7 = pd.read_csv('/content/drive/MyDrive/Formación/Henry/PI N°1 - MLOps/ratings/7.csv', sep=',', encoding='latin-1')
rating8 = pd.read_csv('/content/drive/MyDrive/Formación/Henry/PI N°1 - MLOps/ratings/8.csv', sep=',', encoding='latin-1')

print(rating1.shape)
print(rating2.shape)
print(rating3.shape)
print(rating4.shape)
print(rating5.shape)
print(rating6.shape)
print(rating7.shape)
print(rating8.shape)

(1500000, 4)
(1500000, 4)
(1500000, 4)
(1500000, 4)
(1500000, 4)
(1500000, 4)
(524289, 4)
(1500000, 4)

In [87]:
# Unimos los dataset

data_score = pd.concat([rating1, rating2, rating3, rating4, rating5, rating6, rating7, rating8])
data_score.shape

(11024289, 4)

In [88]:
data_score.isna().sum()

userId       0
rating       0
timestamp    0
movieId      0
dtype: int64

In [89]:
# Creamos un nuevo dataset para agrupar el rating promedio por pelicula

data_score_prom = data_score.groupby(['movieId']).mean()
data_score_prom

               userId    rating     timestamp
movieId
as1      99178.623506  3.467131  1.173241e+09
as10     92915.883041  3.439571  1.176385e+09
as100    83483.262791  3.609302  1.165458e+09
as1000   90606.197938  3.556701  1.168386e+09
as1001   92349.085288  3.585288  1.179517e+09
...               ...       ...           ...
ns995    86366.176339  3.515625  1.176070e+09
ns996    94741.060729  3.626518  1.159029e+09
ns997    86417.856842  3.530526  1.162038e+09
ns998    94409.502066  3.582645  1.173053e+09
ns999    90685.066806  3.494781  1.165742e+09

[22998 rows x 3 columns]

In [90]:
# Unimos ambos dataset, mientras que el id de cada uno coincida

data_plataformas_prom = pd.merge(left=data_plataformas, right=data_score_prom, how='left', left_on='Id', right_on='movieId')
data_plataformas_prom.head()

,type,title,director,cast,country,date_added,release_year,rating_x,listed_in,description,Id,duration_int,duration_type,userId,rating_y,timestamp
0,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,"comedy, drama",a small fishing village must procure a local d...,as1,113,min,99178.623506,3.467131,1.173241e+09
1,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,"drama, international",a metro family decides to fight a cyber crimin...,as2,110,min,93837.476673,3.548682,1.168607e+09
2,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,"action, drama, suspense",after a man discovers his wife is cheating on ...,as3,74,min,84095.315166,3.500000,1.176941e+09
3,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncã©, britne...",united states,2021-03-30,2014,g,documentary,"pink breaks the mold once again, bringing her ...",as4,69,min,88177.389006,3.538055,1.167142e+09
4,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,"drama, fantasy",teenage matt banting wants to work with a famo...,as5,45,min,83381.165966,3.478992,1.167345e+09

In [91]:
# Eliminamos las columnas que nos sobran (userId y timestamp)

data_plataformas_prom.drop(['userId'], axis=1, inplace=True)
data_plataformas_prom.drop(['timestamp'], axis=1, inplace=True)
data_plataformas_prom

,type,title,director,cast,country,date_added,release_year,rating_x,listed_in,description,Id,duration_int,duration_type,rating_y
0,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,"comedy, drama",a small fishing village must procure a local d...,as1,113,min,3.467131
1,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,"drama, international",a metro family decides to fight a cyber crimin...,as2,110,min,3.548682
2,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,"action, drama, suspense",after a man discovers his wife is cheating on ...,as3,74,min,3.500000
3,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncã©, britne...",united states,2021-03-30,2014,g,documentary,"pink breaks the mold once again, bringing her ...",as4,69,min,3.538055
4,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,"drama, fantasy",teenage matt banting wants to work with a famo...,as5,45,min,3.478992
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22993,movie,zodiac,david fincher,"mark ruffalo, jake gyllenhaal, robert downey j...",united states,2019-11-20,2007,r,"cult movies, dramas, thrillers","a political cartoonist, a crime reporter and a...",ns8803,158,min,3.438998
22994,tv show,zombie dumb,sin dato,sin dato,sin dato,2019-07-01,2018,tv-y7,"kids' tv, korean tv shows, tv comedies","while living alone in a spooky town, a young g...",ns8804,2,seasons,3.515947
22995,movie,zombieland,ruben fleischer,"jesse eisenberg, woody harrelson, emma stone, ...",united states,2019-11-01,2009,r,"comedies, horror movies",looking to survive in a world taken over by zo...,ns8805,88,min,3.420945
22996,movie,zoom,peter hewitt,"tim allen, courteney cox, chevy chase, kate ma...",united states,2020-01-11,2006,pg,"children & family movies, comedies","dragged from civilian life, a former superhero...",ns8806,88,min,3.588050
22997,movie,zubaan,mozez singh,"vicky kaushal, sarah-jane dias, raaghav chanan...",india,2019-03-02,2015,tv-14,"dramas, international movies, music & musicals",a scrappy but poor boy worms his way into a ty...,ns8807,111,min,3.529228

In [92]:
# Cambiamos el nombre de la columna rating por score

data_plataformas_prom.rename(columns={'rating_y':'score'}, inplace=True)
data_plataformas_prom

,type,title,director,cast,country,date_added,release_year,rating_x,listed_in,description,Id,duration_int,duration_type,score
0,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,"comedy, drama",a small fishing village must procure a local d...,as1,113,min,3.467131
1,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,"drama, international",a metro family decides to fight a cyber crimin...,as2,110,min,3.548682
2,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,"action, drama, suspense",after a man discovers his wife is cheating on ...,as3,74,min,3.500000
3,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncã©, britne...",united states,2021-03-30,2014,g,documentary,"pink breaks the mold once again, bringing her ...",as4,69,min,3.538055
4,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,"drama, fantasy",teenage matt banting wants to work with a famo...,as5,45,min,3.478992
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22993,movie,zodiac,david fincher,"mark ruffalo, jake gyllenhaal, robert downey j...",united states,2019-11-20,2007,r,"cult movies, dramas, thrillers","a political cartoonist, a crime reporter and a...",ns8803,158,min,3.438998
22994,tv show,zombie dumb,sin dato,sin dato,sin dato,2019-07-01,2018,tv-y7,"kids' tv, korean tv shows, tv comedies","while living alone in a spooky town, a young g...",ns8804,2,seasons,3.515947
22995,movie,zombieland,ruben fleischer,"jesse eisenberg, woody harrelson, emma stone, ...",united states,2019-11-01,2009,r,"comedies, horror movies",looking to survive in a world taken over by zo...,ns8805,88,min,3.420945
22996,movie,zoom,peter hewitt,"tim allen, courteney cox, chevy chase, kate ma...",united states,2020-01-11,2006,pg,"children & family movies, comedies","dragged from civilian life, a former superhero...",ns8806,88,min,3.588050
22997,movie,zubaan,mozez singh,"vicky kaushal, sarah-jane dias, raaghav chanan...",india,2019-03-02,2015,tv-14,"dramas, international movies, music & musicals",a scrappy but poor boy worms his way into a ty...,ns8807,111,min,3.529228

In [93]:
# Redondeamos los campos float a 1 solo decimal

data_plataformas_prom = data_plataformas_prom.round(1)
data_plataformas_prom

,type,title,director,cast,country,date_added,release_year,rating_x,listed_in,description,Id,duration_int,duration_type,score
0,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,"comedy, drama",a small fishing village must procure a local d...,as1,113,min,3.5
1,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,"drama, international",a metro family decides to fight a cyber crimin...,as2,110,min,3.5
2,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,"action, drama, suspense",after a man discovers his wife is cheating on ...,as3,74,min,3.5
3,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncã©, britne...",united states,2021-03-30,2014,g,documentary,"pink breaks the mold once again, bringing her ...",as4,69,min,3.5
4,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,"drama, fantasy",teenage matt banting wants to work with a famo...,as5,45,min,3.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22993,movie,zodiac,david fincher,"mark ruffalo, jake gyllenhaal, robert downey j...",united states,2019-11-20,2007,r,"cult movies, dramas, thrillers","a political cartoonist, a crime reporter and a...",ns8803,158,min,3.4
22994,tv show,zombie dumb,sin dato,sin dato,sin dato,2019-07-01,2018,tv-y7,"kids' tv, korean tv shows, tv comedies","while living alone in a spooky town, a young g...",ns8804,2,seasons,3.5
22995,movie,zombieland,ruben fleischer,"jesse eisenberg, woody harrelson, emma stone, ...",united states,2019-11-01,2009,r,"comedies, horror movies",looking to survive in a world taken over by zo...,ns8805,88,min,3.4
22996,movie,zoom,peter hewitt,"tim allen, courteney cox, chevy chase, kate ma...",united states,2020-01-11,2006,pg,"children & family movies, comedies","dragged from civilian life, a former superhero...",ns8806,88,min,3.6
22997,movie,zubaan,mozez singh,"vicky kaushal, sarah-jane dias, raaghav chanan...",india,2019-03-02,2015,tv-14,"dramas, international movies, music & musicals",a scrappy but poor boy worms his way into a ty...,ns8807,111,min,3.5

In [94]:
fechas = data_plataformas_prom.sort_values(['date_added'])
fechas

,type,title,director,cast,country,date_added,release_year,rating_x,listed_in,description,Id,duration_int,duration_type,score
14162,tv show,hikaru no go,sin dato,sin dato,japan,2006-07-14,2006,tv-14,"anime, international, science fiction",hikaru shindo is like any sixth-grader in japa...,hs3045,1,season,3.5
20148,movie,to and from new york,sorin dan mihalcescu,"barbara king, shaana diya, john krisiukenas, y...",united states,2008-01-01,2006,tv-ma,"dramas, independent movies, thrillers","while covering a story in new york city, a sea...",ns5958,81,min,3.6
20802,tv show,dinner for five,sin dato,sin dato,united states,2008-02-04,2007,tv-ma,stand-up comedy & talk shows,"in each episode, four celebrities join host jo...",ns6612,1,season,3.5
14161,tv show,lost in space,sin dato,sin dato,united states,2008-06-01,1965,tv-g,"action, adventure, classics","created by legendary producer irwin allen (""th...",hs3044,3,seasons,3.5
14160,tv show,"doogie howser, m.d.",sin dato,sin dato,united states,2008-07-01,1989,tv-pg,"comedy, drama, family",douglas howser is a doctor. he is also a 16-ye...,hs3043,4,seasons,3.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21387,tv show,kikoriki,sin dato,igor dmitriev,sin dato,NaT,2010,tv-y,kids' tv,a wacky rabbit and his gang of animal pals hav...,ns7197,2,seasons,3.5
21445,tv show,la familia p. luche,sin dato,"eugenio derbez, consuelo duval, luis manuel ã...",united states,NaT,2012,tv-14,"international tv shows, spanish-language tv sh...","this irreverent sitcom featues ludovico, feder...",ns7255,3,seasons,3.6
21597,tv show,maron,sin dato,"marc maron, judd hirsch, josh brener, nora zeh...",united states,NaT,2016,tv-ma,tv comedies,"marc maron stars as marc maron, who interviews...",ns7407,4,seasons,3.5
22038,tv show,red vs. blue,sin dato,"burnie burns, jason saldaã±a, gustavo sorola, ...",united states,NaT,2015,nr,"tv action & adventure, tv comedies, tv sci-fi ...","this parody of first-person shooter games, mil...",ns7848,13,seasons,3.6
22373,tv show,the adventures of figaro pho,sin dato,"luke jurevicius, craig behenna, charlotte haml...",australia,NaT,2015,tv-y7,"kids' tv, tv comedies","imagine your worst fears, then multiply them: ...",ns8183,2,seasons,3.5

In [100]:
# Ahora debemos dejar listo el dataset con los score, sin filtrar datos, con el formato correcto

data_score.head()

   userId  rating   timestamp movieId
0       1     1.0  1425941529   as680
1       1     4.5  1425942435  ns2186
2       1     5.0  1425941523  hs2381
3       1     5.0  1425941546  ns3663
4       1     5.0  1425941556  as9500

In [101]:
# Valores nulos ya habiamos verificado y no tiene.

# Ahora pasamos a cambiar el formato fecha unix a formato fecha aaaa-mm-dd

data_score['timestamp'] = pd.to_datetime(data_score['timestamp'], unit='s').dt.strftime('%y-%m-%d')
data_score

KeyboardInterrupt: ignored