<a href="https://colab.research.google.com/github/Ezemettler/PI1-MLOps/blob/main/Rating.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Vinculamos google colab con google drive para importar el dataset

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# Importamos librerias

import pandas as pd

In [13]:
rating1 = pd.read_csv('/content/drive/MyDrive/Formación/Henry/PI N°1 - MLOps/ratings/1.csv', sep=',', encoding='latin-1')
rating2 = pd.read_csv('/content/drive/MyDrive/Formación/Henry/PI N°1 - MLOps/ratings/2.csv', sep=',', encoding='latin-1')
rating3 = pd.read_csv('/content/drive/MyDrive/Formación/Henry/PI N°1 - MLOps/ratings/3.csv', sep=',', encoding='latin-1')
rating4 = pd.read_csv('/content/drive/MyDrive/Formación/Henry/PI N°1 - MLOps/ratings/4.csv', sep=',', encoding='latin-1')
rating5 = pd.read_csv('/content/drive/MyDrive/Formación/Henry/PI N°1 - MLOps/ratings/5.csv', sep=',', encoding='latin-1')
rating6 = pd.read_csv('/content/drive/MyDrive/Formación/Henry/PI N°1 - MLOps/ratings/6.csv', sep=',', encoding='latin-1')
rating7 = pd.read_csv('/content/drive/MyDrive/Formación/Henry/PI N°1 - MLOps/ratings/7.csv', sep=',', encoding='latin-1')
rating8 = pd.read_csv('/content/drive/MyDrive/Formación/Henry/PI N°1 - MLOps/ratings/8.csv', sep=',', encoding='latin-1')

In [14]:
print(rating1.shape)
print(rating2.shape)
print(rating3.shape)
print(rating4.shape)
print(rating5.shape)
print(rating6.shape)
print(rating7.shape)
print(rating8.shape)

(1500000, 4)
(1500000, 4)
(1500000, 4)
(1500000, 4)
(1500000, 4)
(1500000, 4)
(524289, 4)
(1500000, 4)

In [15]:
# Juntamos los datasets en uno solo

data_rating = pd.concat([rating1, rating2, rating3, rating4, rating5, rating6, rating7, rating8])
data_rating.shape

(11024289, 4)

In [16]:
data_rating.head(10)

   userId  rating   timestamp movieId
0       1     1.0  1425941529   as680
1       1     4.5  1425942435  ns2186
2       1     5.0  1425941523  hs2381
3       1     5.0  1425941546  ns3663
4       1     5.0  1425941556  as9500
5       1     4.0  1425942148  as3004
6       1     4.5  1425941300  ns8282
7       1     5.0  1425941593  as6112
8       1     4.0  1425941601   hs327
9       1     4.0  1425942228  ns1358

In [17]:
# Verificamos que no existan datos nulos

data_rating.isna().sum()

userId       0
rating       0
timestamp    0
movieId      0
dtype: int64